/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+IN:wght@100..400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background-color: #010a16 !important;
    color: white !important;
    /* font-family: Open sans-serif system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; */
    ;

}


.max-container {
    margin: 0px auto;
    max-width: 1024px;
}




.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 99999999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 90px;


}


.logo {
    /* transition-property: auto;
    transition-duration: 1ms; */
}


.logo p {

    font-size: 45px;
    color: #0ea5e9;
    margin: 0px !important;
    transition-property: auto;
    transition-duration: 5s;

}

.logo p:hover {
    color: #0ea5e9;
    width: 400px;
}


.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}



.nav-links a {
    text-decoration: none;
    color: #a2a5aa;
    border-radius: 3px;

}

.Resume {
    border: 1px solid #0ea5e9;
    padding: 8px;
}

.nav-links a:hover {
    color: #0ea5e9;
    text-decoration: underline;

}


.container-intro {
    padding: 0px 23px 0px 23px;
    margin: 85px 0px 0px 0px;
}

.my-intro {

    display: flex;
    /* justify-content: space-between; */
    gap: 18px;
    align-items: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    font-family: Inter, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: #a2a5aa;
}


.paragraph p {

    font-size: 49px;
    margin: 0px 0px 6px 0px;

}

.flex-div {
    display: flex;
    align-items: center;
    gap: 12px;


}

.me {
    font-size: 45;

}

.name {
    color: #0ea5e9;
    font-size: 45px;
}



.code-image img {
    height: 250px;
    width: 490px;
}


.experince {
    margin: 60px 0px 190px 0px;
}

.experince p {
    color: #a2a5aa;
    font-family: Open sans-serif system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    line-height: 28px;
    font-size: 19px;
    margin: 0px 0px 35px 0px;


}

.available {
    color: #0ea5e9 !important;
    font-size: 17px;


}

.about-me {
    margin: 0px 0px 35px 0px;
}

.about-me p {
    font-size: 50px;
    color: #a2a5aa;
}



.flex {
    display: flex;
    gap: 60px;
    align-items: center;
}

/* 
.hello {
    padding: 0px 0px 0px 20px;
} */

.hello span {
    font-size: 20px;
    color: #0ea5e9;
    font-weight: bold;

}

.hello p {
    color: #a2a5aa;
    margin: 15px 0px 0px 0px;
    line-height: 26px;
}


.hello img {
    height: 25px;
    width: 25px;
    margin: 0px 0px 5px 0px;
}



.College {
    color: #0ea5e9;

}



.details {
    margin: 0px 0px 0px 0px;
}

.details strong {
    color: #0ea5e9;
}


.details a {
    color: #0ea5e9;
    text-decoration: none;
}

.list {
    padding: 25px 0px 0px 0px;

}




.list li {
    color: #a2a5aa;
    list-style-type: disclosure-closed;

}

.profile {
    height: 320px;
    width: 260px;
    /* border-radius: 10px; */
    margin: 0px 0px 35px 0px;
}


.profile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-line {
    border: 3px solid #0ea5e9;
    /* position: relative; */
    /* left: 40px; */
    height: 350px;
    position: relative;
    bottom: 335px;
    width: 280px;
    border-radius: 15px;
}



.projects {
    text-align: center;
    color: #a2a5aa;
    font-family: Inter, sans-serif;
    font-size: 50px;
    margin: 160px 0px 60px 0px;
}


.projects-card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 110px;
    padding: 0px 35px 0px 35px;

}

.card {
    outline: none !important;
    border: none !important;
    width: 400px !important;
    height: 200px !important;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 10px 12px 10px 12px !important;
    background-color: #0f172a;

}

.parent-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    margin: 0px !important;
    color: #a2a5aa;
}

.web-year {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0ea5e9;
}

.web-year a {
    text-decoration: none;
    color: #0ea5e9;

}

.web-year p {
    margin: 0px !important;
}


.footer-section {
    margin-top: 220px;
}

/* .whats-next{ */
/*  */
/* } */

.next {
    text-align: center;
    color: #0ea5e9 !important;
    margin-top: 10px;
}

.whats-next h1 {
    text-align: center;
    font-family: Inter, sans-serif;
    margin-top: 20px;

}

.whats-next p {
    text-align: center;
    margin: 0px !important;
    color: #a2a5aa;
}

/* 
.whats-next a{
    border: 2px solid #0ea5e9;
    padding: 15px 27px 15px 27px;
    text-decoration: none;
    color: #0ea5e9;
    text-align: center;
    border-radius: 4px;

} */


.contact-link {
    margin: 60px 0px 220px 0px;
    text-align: center;
}

.contact-link a {
    border: 2px solid #0ea5e9;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: #0ea5e9;
    text-align: center;
    border-radius: 4px;
}

.l-g-i-f-links {
    margin: 0px 0px 3px 0px;
}


.account-links {
    display: flex;
    justify-content: center;

    gap: 10px;

}



.design-build {
    text-align: center;
    color: #a2a5aa;

}

.design-build:hover {
    color: #0ea5e9;
}


@media screen and (max-width: 600px) {
    .header-section {
        /* flex-direction: column; */
        /* align-items: flex-start; */

        /* align-items: center; */
        flex-direction: row;
        height: 60px;
        padding: 10px 7px 10px 7px;
    }

    .logo {
        text-align: center;
    }

    .logo p {
        font-size: 28px;
    }

    .nav-links {

        gap: 25px;
        flex-direction: row
    }

    .container-intro {
        margin: 0px 0px 0px 0px !important;
        padding: 70px 10px 0px 10px !important;
    }

    .my-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .paragraph p {
        text-align: center;
        font-size: 60px;

    }

    .code-image {
        width: 100%;
    }

    .code-image img {
        width: 100%;
    }


    .experince {
        margin: 35px 0px 100px 0px
    }

    .experince p {
        text-align: center;
        margin: 15px 0px 0px 0px;
    }

    .experince .available {
        text-align: center;
    }

    .about-me p {
        text-align: center;
        font-size: 80px;

    }

    .flex {
        display: flex;
        flex-direction: column;
        padding: 0px !important;
    }

    .hello {
        /* padding: 0px !important; */
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }

    .hello span {
        font-size: 35px;
    }

    .hello img {
        height: 30px;
        width: 32px;
        margin: 0px 0px 17px 0px;
    }

    .list li {
        /* color: #0ea5e9; */
    }

    .profile {
        width: 420px;
        height: 430px;

    }

    .image-line {
        width: 433px;
        height: 455px;
        position: relative;
        bottom: 442px;
    }


    .projects-card-parent {
        padding: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;

    }

    .card {
        
    }

}