/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+IN:wght@100..400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background-color: #010a16 !important;
    color: white !important;

}


.max-container {
    margin: 0px auto;
    max-width: 1024px;
}


.navbar {

    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0px;
    z-index: 99999999;


}

.logo {
    font-size: 45px;
    text-decoration: none;
    font-family: Open sans-serif system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #0ea5e9;


}


.logo :hover {

    transform: scale(1.1);

}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;

}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;

}

.menu a {

    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    color: #a2a5aa;
    transition: transform 0.3s ease, color 0.3s ease;
    font-family: Open sans-serif system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

.menu a:hover {
    color: #0ea5e9;
    text-decoration: underline;
    transform: scale(1.1);
    text-decoration: none;


}

.Resume {
    padding: 7px;
    border: 1px solid #0ea5e9;
    border-radius: 5px;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color:#a2a5aa;
    cursor: pointer;
    margin-left: auto;
}

.mobile-menu {
    display: none;
    flex-direction: column;
   

}

.mobile-menu a {
    padding: 10px;
    display: block;

    text-decoration: none;
    color: #a2a5aa;
}


.container-intro {
    padding: 0px 23px 0px 23px;
    margin: 85px 0px 0px 0px;
}

.my-intro {
    display: flex;
    align-items: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    font-family: Inter, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: #a2a5aa;

}


.paragraph p {

    font-size: 44px;
    margin: 0px 0px 6px 0px;

}

.flex-div {
    display: flex;
    gap: 7px;


}

.me {
    font-size: 45;
    margin: 0px !important;
}

.name {
    color: #0ea5e9;
    font-size: 45px;
    margin: 0px !important;
}

.name::after {
    content: "MOIZ AHMEDD";
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid #0ea5e9;
    white-space: nowrap;
    animation: typing 2s steps(10) infinite alternate;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}






.code-image img {
    height: 300px;
    width: 525px;
}


.experince {
    margin: 60px 0px 190px 0px;
}

.experince p {
    color: #a2a5aa;
    font-family: Open sans-serif system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    line-height: 28px;
    font-size: 19px;
    margin: 0px 0px 35px 0px;


}

.available {
    color: #0ea5e9 !important;
    font-size: 17px;


}

.about-me {
    margin: 0px 0px 35px 0px;
}

.about-me p {
    font-size: 50px;
    color: #a2a5aa;
}



.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}


.hello span {
    font-size: 20px;
    color: #0ea5e9;
    font-weight: bold;

}

.hello p {
    color: #a2a5aa;
    margin: 15px 0px 0px 0px;
    line-height: 26px;
}


.hello img {
    height: 25px;
    width: 25px;
    margin: 0px 0px 5px 0px;
}



.College {
    color: #0ea5e9;

}



.details {
    margin: 0px 0px 0px 0px;
}

.details strong {
    color: #0ea5e9;
}


.details a {
    color: #0ea5e9;
    text-decoration: none;
}

.list {
    padding: 25px 0px 0px 0px;

}




.list li {
    color: #a2a5aa;
    list-style-type: disclosure-closed;

}

.profile {
    height: 320px;
    width: 260px;
    margin: 0px 0px 35px 0px;
}


.profile img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-line {
    border: 3px solid #0ea5e9;

    height: 350px;
    position: relative;
    bottom: 335px;
    width: 280px;
    border-radius: 15px;
}



.projects {
    text-align: center;
    color: #a2a5aa;
    font-family: Inter, sans-serif;
    font-size: 50px;
    margin: 160px 0px 60px 0px;
}


.projects-card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 110px;
    padding: 0px 35px 0px 35px;

}



.card {
    width: 390px;
    border-radius: 12px !important;
    overflow: hidden;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transform: scale(1);
    border: none !important;

}



.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    border: none !important;
    outline: none !important;
}


.card:focus,
.card:focus-within {
    border: none !important;
    outline: none !important;
}

.card-body::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: transparent !important;
}



.card img {
    width: 100%;
    height: 180px;
    transition: transform 0.4s ease-in-out;


}

.card-body {
    background-color: #0f172a;
    padding: 10px;
    border: none !important;
    outline: none !important
}

.parent-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    font-size: 14px;
    color: #a2a5aa;
    margin: 0px !important;
}

.web-year {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-year a {
    color: #0ea5e9;
    text-decoration: none;
}

.web-year p {
    text-decoration: none;
    color: #0ea5e9;
    margin: 0px !important;
}





.footer-section {
    margin-top: 220px;
}


.next {
    text-align: center;
    color: #0ea5e9 !important;
    margin-top: 10px;
}

.whats-next h1 {
    text-align: center;
    font-family: Inter, sans-serif;
    margin-top: 20px;

}

.whats-next p {
    text-align: center;
    margin: 0px !important;
    color: #a2a5aa;
}




.contact-link {
    margin: 60px 0px 220px 0px;
    text-align: center;

}

.contact-link a {
    border: 2px solid #0ea5e9;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    color: #0ea5e9;
    text-align: center;
    border-radius: 4px;


}

.contact-link a:hover {
    box-shadow: 0px 0px 6px #0ea5e9;

}


.account-links {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin: 0px 0px 10px 0px;

}



.account-links a {
    transition: transform 0.3s ease, color 0.3s ease;
}

.account-links svg {
    width: 22px;
    height: 22px;

}

.account-links a:hover {
    transform: scale(1.5);
    color: #0ea5e9;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #0ea5e9;

}



.design-build {
    text-align: center;
    color: #a2a5aa;

}

.design-build:hover {
    color: #0ea5e9;
}



/* responsive start */



@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    
    }

    .mobile-menu.show {
        display: flex;
        text-decoration: none;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        padding: 7px;

    }

    .my-intro {
        flex-direction: column;
        gap: 15px;
    }

    .paragraph p {
        font-size: 30px;
        text-align: center;
    }

    .me,
    .name {
        font-size: 28px;
    }

    .code-image img {
        height: auto;
        width: 100%;
        max-width: 350px;
    }

    .experince p {
        font-size: 16px;
        text-align: center;
        line-height: 24px;
    }

    .available {
        font-size: 15px;
        text-align: center;
    }

    .about-me p {
        font-size: 35px;
        text-align: center;
    }

    .flex {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .hello {
        padding: 0px;
    }

    .hello span {
        font-size: 18px;
    }

    .hello p {
        font-size: 14px;
        line-height: 22px;
    }

    .list {
        padding-top: 10px;
        margin: 0px 30px 0px 0px;

        .footer-section {
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }

        .whats-next h1 {
            font-size: 1.5rem;
        }

        .contact-link a {
            padding: 8px 16px;
            font-size: 14px;
        }

        .account-links {
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        .account-links a svg {
            height: 25px;
            width: 25px;
        }

        .design-build {
            font-size: 14px;
            margin-top: 15px;
        }
    }

    .list li {
        font-size: 14px;
    }

    .profile {
        height: auto;
        width: 80%;
        max-width: 250px;
    }

    .profile img {
        height: auto;
        width: 100%;
    }

    .image-line {
        display: none;
    }

    .projects-card-parent {
        display: flex;
        flex-direction: column;  
        align-items: center;
        gap: 20px;

    }

    .card {
        width: 90%;
        max-width: 350px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #010a16;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .parent-card-text {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }

    .parent-card-text p {
        font-size: 14px;
    }

    .web-year {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .web-year a {
        font-size: 16px;
        text-decoration: none;
        color: #0ea5e9;
    }

    .web-year p {
        font-size: 14px;
        color: #a2a5aa;
    }

    .footer-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .whats-next h1 {
        font-size: 1.5rem;
    }

    .contact-link a {
        padding: 8px 16px;
        font-size: 14px;
    }

    .account-links {
        gap: 10px;
        align-items: center;
    }

    .account-links a svg {
        height: 25px;
        width: 25px;
    }

    .design-build {
        font-size: 14px;
        margin-top: 15px;
    }

}